{{!-- file purchase-create.hbs --}}


<main class="main">
  {{#with data}}
  <form method="POST" action="/purchase-submit?id={{id}}" class="purchase-create">
    {{> heading title="Baшe замовлення"}}

    <ul class="purchase-create__card">
      {{#each cart}}
      <li class="purchase-create__card-item">
        <span>{{text}}</span>
        <span>{{price}} ₴</span>
      </li>
      {{/each}}
    </ul>
    {{> divider}}

    {{> heading info="Оформлення замовлення"}}

    <div class="purchase-create__card-flex">
      {{> field label="Ім'я:" name="firstname" required=true}}
      {{> field label="Прізвище:" name="lastname" required=true}}
    </div>

    <div class="purchase-create__card-flex">
      {{> field label="Телефон:" name="phone" required=true}}
      {{> field label="Пошта:" name="email" required=true}}
    </div>

    <div class="purchase-create__card-comment">
      {{> field label="Коментар:" name="comment" labelDown="Коментар буде передано кур’єру"}}
    </div>

    <div class="purchase-create__card-flex">
      {{> field label="Списати бонуси" name="bonus"}}
      {{> field label="Промо-код" name="promocode"}}
    </div>

    {{> divider}}

    {{> field value=totalPrice name="totalPrice" disabled=true}}
    {{> field value=productPrice name="productPrice" disabled=true}}
    {{> field value=deliveryPrice name="deliveryPrice" disabled=true}}
    {{> field value=amount name="amount" disabled=true}}

    <strong class="purchase-create__total"> Всього: {{totalPrice}} ₴ ({{bonus}} ₴ на бонусний рахунок)</strong>
    {{> button text="Оформити замовлення"}}
  </form>
  {{/with}}
</main>